<div class="main">
    <div class="question">1.QUESTION</div>
    <div class="answers-wrapper">
        <div>
            <div>Odgovor</div>
            <div>A</div>
        </div>
        <div>
            <div>Odgovor</div>
            <div>B</div>
        </div>
        
        <div>
            <div>Odgovor</div>
            <div>C</div>
        </div>
        <div>
            <div>Odgovor</div>
            <div>D</div>
        </div>
    </div>
    <div class="members-wrapper">
        <div>MEMBERS</div>
        <div>
            <div>prpicOs</div>
            <div> Score: 45</div>
        </div>
    </div>

</div>